* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    font-family: 'Khyay', sans-serif;
    text-decoration: none;

   

}
section {

    /* max-width: 1920px; */

}
button {
    background: none;
    border: none;
}
a {
    text-decoration: none;
    color: black;
}


header {
    background-color: #293942;
    display: flex;
    align-items: center;
    padding: 0 200px;
    height: 120px;
}
.header-logo {
    padding: 50px;
    
}
nav {
    display: flex;
    margin-left: auto;
   

}
nav ul{
    display: flex;
    
}
.nav-link {
    color:  #F9F8FF;
}
header ul li {
    list-style: none;
    padding: 44px;
    font-size: 24px;
}
.signIn, .signUp {
    color: #F4EEFF  ;
    padding: 15px 16px;
    border: 1px solid #7971E9;
    margin: 32px 24px;
    border-radius: 4px;
    min-width: 160px;
    font-size: 24px;
}
.signIn {
    background-color:  #7971E9;
}
.app-container {
    /* background-color:  #1B262C; */
    background-image: url(../assets/app.png);
    background-size: 100%;
    height: 820px;
    

}
.discover-app {

    color: #F9F8FF;
    max-width: 900px;
    font-size: 48px;
    
    padding: 200px;
    padding-bottom: 40px;
    

}
.app-btn {
    min-width: 211px;
    min-height: 55px;
    padding: 16px;
    background-color: #7971E9;
    color: #F4EEFF;
    border: 1px solid #7971E9;
    border-radius: 4px;
    margin-left: 200px;  
    margin-bottom: 25px;  
    font-size: 24px; 
}
.goappstore-app {
    margin-left: 200px;
    margin-right: 20px;
}
.partner-container  {
    background-color: #293942;
    height: 180px;
    display: flex;
    margin-left: auto;
    width: 100%;
    
    
}
.partner-container ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 200px;
    align-items: center;
    

}
.music-container {
    display: grid;
    /* align-items: center;
    justify-content: space-between; */
    grid-template-columns:  repeat(2,1fr);

    align-items: center;
    background-color: #1B262C;
    height: 700px;
    padding: 0 200px;
    
}
.pic-music {
    width: 1000px;
   
    padding-top: 80px;
    padding-bottom: 80px;
   
}
.music-container img {
    
    margin: 30px;
}
.love-music {
    
   min-width: 35%;
    justify-self: end;
}
.love-music h1 {
    font-size: 48px;
    color:  #F9F8FF;
    max-width: 700px;
    padding-bottom: 30px;
    /* line-height: 65px; */
}
.p-love {
    font-size: 24px;
    color:rgba(249, 248, 255, 0.5) ;
    max-width: 400px;
    padding-bottom: 35px;
}
.love-music a {
    color: #7971E9;
    font-size: 24px;
    
}
.arrow-music {
    width: 14px;
    height: 23px;
    padding: 0;
    margin-right: 8px;
}
.link-music {
    display: flex;
    align-items: center;
}
.playlist-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* justify-content: space-around; */
    background-color: #1B262C;
    height: 650px;  
    align-items: center;
    box-shadow: inset 0 30px 20px 0 rgba(26, 26, 26, 0.25) ; 
    border: 0px solid transparent ;
    padding: 0 200px;
}
.text-playlist {
    /* padding-right: 220px; */
    
    justify-self: start;

}
.playing-playlist  {
    width: 300px;
    height: 500px;
    margin: 0 50px;
    
    /* не работает тень картинки */
    box-shadow: 0px 10px 20px rgba(33, 33, 33, 0.59741);
    border-radius: 10px; 
     
    
    
}
.img-playlist {
    display: flex;
    justify-self: end;
}
.playlist-container h1 {
    font-size: 48px;
    color:  #F9F8FF;
    max-width: 700px;
    padding-bottom: 30px;
}
.playlist-container p {
    font-size: 24px;
    color: rgba(249, 248, 255, 0.5);
    max-width: 500px;
    padding-bottom: 35px;
}
.link-playlist {
    display: flex;
    align-items: center;
}
.text-playlist a {
    color: #7971E9;
    font-size: 24px;
    
}
.text-playlist img {
    width: 14px;
    height: 23px;
    padding: 0;
    margin-right: 8px;
    border-radius: 4px;
}
.why-container {
    display: flex;
    flex-wrap: wrap;
    
    height: 610px;
    background-color: #1B262C;
    box-shadow: inset 0 30px 20px 0 rgba(26, 26, 26, 0.25) ; 
    border: 1px solid transparent ;
    color: rgba(249, 248, 255, 1);
    padding: 55px 200px;
}

.why-container h1 {
    align-self: flex-start;

padding-bottom: 85px;
font-size: 48px;
height: 50px;
width: 500px;
font-family: inherit;
}
/* .why-container span {
    width: 5px;
    height: 48px;
    background-color: #7971E9;
    border-radius: 2.5px;
    margin-right: 20px;

} */
.why-container h2 {
    font-size: 32px;

}
.why-container p {
    font-size: 24px;
    color:rgba(249, 248, 255, 0.5);
    max-width: 500px;


}
.text-why {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr) ;
    justify-content: space-around;
    width: 100%;
    height: 500px;
    padding-top: 80px;
}
.text-why span {
    width: 5px;
    height: 48px;
    background-color: #7971E9;
    position: absolute;
    border-radius: 2.5px;
    top:-6px;
    left: 0px;
   
    
}
.text-why div {
    position: relative;
    margin-right: 70px;
    padding-left: 16px;

}
footer {
    display: flex;
    justify-content: space-between;
    background-color: #293942;
    padding: 50px 200px;
    
}
footer div{
    display: flex;
    flex-direction: column;
    
    max-width: 400px;
}
footer h2 {
    color: rgba(249, 248, 255, 0.5);
    font-size: 32px;
    padding-bottom: 30px;
}
footer a {
    color: #F9F8FF;
    font-size: 18px;
    padding-bottom: 30px;
}
/* .logo-footer a {
padding: 50px 0;
} */
.logo-footer p {
    font-size: 18px;
    color: rgba(249, 248, 255, 0.25);
    
}
.social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1B262C;
    padding: 0 200px;
}
.social-container a {
    padding: 40px 50px;
}

