* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Khyay', sans-serif;
    text-decoration: none;

}
button {
    background: none;
    border: none;
}
a {
    text-decoration: none;
    color: black;
}


header {
    background-color: #293942;
    display: flex;
    align-items: center;
    padding: 0 200px;
    height: 120px;
}
.header-logo {
    padding: 50px;
    
}
nav {
    display: flex;
    margin-left: auto;
   

}
nav ul{
    display: flex;
    
}
.nav-link {
    color:  #F9F8FF;
}
header ul li {
    list-style: none;
    padding: 44px;
    font-size: 24px;
}
.signIn, .signUp {
    color: #F4EEFF  ;
    padding: 15px 16px;
    border: 1px solid #7971E9;
    margin: 32px 24px;
    border-radius: 4px;
    min-width: 160px;
    font-size: 24px;
}
.signIn {
    background-color:  #7971E9;
}
.app-container {
    /* background-color:  #1B262C; */
    background-image: url(../assets/app.png);
    background-size: 100%;
    height: 840px;
    

}
.discover-app {

    color: #F9F8FF;
    max-width: 700px;
    font-size: 48px;
    
    padding: 200px;
    padding-bottom: 40px;
    

}
.app-btn {
    min-width: 211px;
    min-height: 55px;
    padding: 16px;
    background-color: #7971E9;
    color: #F4EEFF;
    border: 1px solid #7971E9;
    border-radius: 4px;
    margin-left: 200px;  
    margin-bottom: 25px;   
}
.goappstore-app {
    margin-left: 200px;
    margin-right: 20px;
}
.partner-container  {
    background-color: #293942;
    height: 180px;
    display: flex;
    margin-left: auto;
    width: 100%;
    
    
}
.partner-container ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 200px;
    align-items: center;
    

}
.music-container {
    display: flex;
    align-items: center;
    background-color: #1B262C;
    height: 700px;
    
}
.pic-music {
    width: 1000px;

    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 200px;
}
.music-container img {
    height: 250px;
    width: 250px;
    padding: 30px;
}
.love-music {
    
    padding-left: 100px;
    padding-right: 200px;

}
.love-music h1 {
    font-style: 48px;
    color:  #F9F8FF;
    max-width: 700px;
    padding-bottom: 30px;
    /* line-height: 65px; */
}
.love-music p {
    font-style: 24px;
    color: #F9F8FF ;
    max-width: 400px;
    padding-bottom: 35px;
}
.love-music a {
    color: #7971E9;
    font-style: 24px;
    
}
.love-music img {
    width: 14px;
    height: 23px;
    padding: 0;
    margin-right: 8px;
}
.link-music {
    display: flex;
    align-items: center;
}
.playlist-container {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    background-color: #1B262C;
    height: 650px;  
    /* не работает тень вообще */
    box-shadow: inset 0 30px 20px 0 rgba(26, 26, 26, 0.25) ; 
    border: 1px solid transparent ;
    padding: 0 200px;
}
.text-playlist {
    padding-right: 220px;
}
.playing-playlist  {
    width: 300px;
    height: 500px;
    margin: 0 50px;
    /* не работает тень картинки */
    box-shadow: inset 0 30px 20px 0 rgba(26, 26, 26, 0.25);
    
    
}
.playing-playlist:first-child {
    padding-right: 100px;
}
.playlist-container h1 {
    font-style: 48px;
    color:  #F9F8FF;
    max-width: 700px;
    padding-bottom: 30px;
}
.playlist-container p {
    font-style: 24px;
    color: #F9F8FF ;
    max-width: 400px;
    padding-bottom: 35px;
}
.link-playlist {
    display: flex;
    align-items: center;
}
.text-playlist a {
    color: #7971E9;
    font-style: 24px;
    
}
.text-playlist img {
    width: 14px;
    height: 23px;
    padding: 0;
    margin-right: 8px;